In [ ]:
#pip install pyfixest

In [ ]:
#pip install pingouin

In [ ]:
#pip install stargazer

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.weightstats import ttest_ind
from pingouin import ttest
from pingouin import power_ttest2n
from pyfixest.estimation import feols, fepois
from pyfixest.utils import get_data
from pyfixest.summarize import etable
import warnings
import stargazer.stargazer as sg
import statsmodels.api as sm
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer, LineLocation
import stargazer
import statsmodels.api as sm
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
df

,ResponseId,Treatment,Age,Sex,Respondent_Budget,Hoodie_Purchase_Intent_Self,Hoodie_Purchase_Intent_Friend,Hoodie_Guessed_Price,Hoodie_Celeb,Bag_Purchase_Intent_Self,...,Glasses_Purchase_Intent_Friend,Glasses_Guessed_Price,Glasses_Celeb,Jacket_Purchase_Intent_Self,Jacket_Purchase_Intent_Friend,Jacket_Guessed_Price,Jacket_Celeb,Mascara_Purchase_Intent_Self,Mascara_Purchase_Intent_Friend,Mascara_Guessed_Price
0,R_3Jl0eEVncGY4UBH,0,22,Male,Less than $50,4,4,200.0,NaN,1,...,1,200.0,NaN,2,1,500.0,NaN,1,3,20.0
1,R_3j70VcEPEWtJRIM,0,14,Male,$50~$200,3,4,45.0,NaN,1,...,5,120.0,NaN,3,4,80.0,NaN,1,4,25.0
2,R_2KvvQoZhk7RJWFz,1,22,Male,$50~$200,2,1,240.0,1.0,1,...,2,1200.0,1.0,5,3,600.0,0.0,1,2,70.0
3,R_8r3vKoa7oDsaVG3,0,22,Male,$50~$200,4,3,150.0,NaN,1,...,3,300.0,NaN,2,1,500.0,NaN,1,2,20.0
4,R_3TnjMzfr7oc0IZV,1,21,Other,Less than $50,1,1,200.0,1.0,1,...,2,100.0,1.0,2,1,600.0,0.0,5,4,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,R_1dYFWlmfJn49PIl,0,21,Other,Less than $50,1,2,45.0,NaN,1,...,1,50.0,NaN,1,1,70.0,NaN,2,1,20.0
107,R_5nhtdg347AhoPtv,1,21,Male,Less than $50,4,4,80.0,1.0,1,...,4,650.0,1.0,5,4,1000.0,1.0,1,3,100.0
108,R_4dyTbsuBsshgvRI,1,25,Female,$201~$500,2,3,55.0,1.0,4,...,1,150.0,1.0,3,2,100.0,1.0,3,2,45.0
109,R_5SlN1nFJMkDoe6B,0,22,Male,$50~$200,4,4,40.0,NaN,3,...,4,60.0,NaN,3,5,80.0,NaN,1,1,10.0
110,R_1rLYPbFxx98Omrf,1,18,Male,Less than $50,2,1,80.0,1.0,1,...,1,800.0,1.0,4,1,1500.0,1.0,1,2,45.0

#Respondent's Estimated Prices Analysis

In [ ]:
# Product 1: Hoodie

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
hoodie_df = df[['Treatment', 'Hoodie_Guessed_Price']]
atehat_hoodie = hoodie_df.loc[df['Treatment'] == 1, 'Hoodie_Guessed_Price'].mean() - hoodie_df.loc[df['Treatment'] == 0, 'Hoodie_Guessed_Price'].mean()
print("ATE for Respondent's Estimated Price on Hoodie: $", round(atehat_hoodie,2))

tstat, pvalue, df = ttest_ind(hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Guessed_Price'],
                              hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Guessed_Price'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Hoodie t-score (t): {tstat:.4f}")
print(f"Hoodie P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Hoodie? {pvalue < 0.05}")

hoodie_ttest_result = ttest(hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Guessed_Price'], hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Guessed_Price'])
hoodie_ttest_result

ATE for Respondent's Estimated Price on Hoodie: $ 159.5
Hoodie t-score (t): 3.0262
Hoodie P-value (p): 3.7977e-03
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Hoodie? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,3.026178,53.679749,two-sided,0.003798,"[53.82, 265.19]",0.590355,11.101,0.868917

In [ ]:
# Product 2: Bag

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
bag_df = df[['Treatment', 'Bag_Guessed_Price']]
atehat_bag = bag_df.loc[df['Treatment'] == 1, 'Bag_Guessed_Price'].mean() - bag_df.loc[df['Treatment'] == 0, 'Bag_Guessed_Price'].mean()
print("ATE for Respondent's Estimated Price on Bag: $", round(atehat_bag,2))

tstat, pvalue, df = ttest_ind(bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Guessed_Price'],
                              bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Guessed_Price'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Bag t-score (t): {tstat:.4f}")
print(f"Bag P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Bag? {pvalue < 0.05}")

bag_ttest_result = ttest(bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Guessed_Price'], bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Guessed_Price'])
bag_ttest_result

ATE for Respondent's Estimated Price on Bag: $ 1328.71
Bag t-score (t): 2.3162
Bag P-value (p): 2.4444e-02
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Bag? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,2.316216,53.018267,two-sided,0.024444,"[178.11, 2479.31]",0.452015,2.166,0.655168

In [ ]:
# Product 3: Loafer

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
loafer_df = df[['Treatment', 'Loafer_Guessed_Price']]
atehat_loafer = loafer_df.loc[df['Treatment'] == 1, 'Loafer_Guessed_Price'].mean() - loafer_df.loc[df['Treatment'] == 0, 'Loafer_Guessed_Price'].mean()
print("ATE for Respondent's Estimated Price on Loafer: $", round(atehat_loafer,2))

tstat, pvalue, df = ttest_ind(loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Guessed_Price'],
                              loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Guessed_Price'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Loafer t-score (t): {tstat:.4f}")
print(f"Loafer P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Loafer? {pvalue < 0.05}")

loafer_ttest_result = ttest(loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Guessed_Price'], loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Guessed_Price'])
loafer_ttest_result

ATE for Respondent's Estimated Price on Loafer: $ 380.69
Loafer t-score (t): 3.6791
Loafer P-value (p): 5.4408e-04
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Loafer? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,3.679082,53.569508,two-sided,0.000544,"[173.2, 588.18]",0.717768,69.848,0.962969

In [ ]:
# Product 4: Glasses

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
glasses_df = df[['Treatment', 'Glasses_Guessed_Price']]
atehat_glasses = glasses_df.loc[df['Treatment'] == 1, 'Glasses_Guessed_Price'].mean() - glasses_df.loc[df['Treatment'] == 0, 'Glasses_Guessed_Price'].mean()
print("ATE for Respondent's Estimated Price on Glasses: $",round(atehat_glasses,2))

tstat, pvalue, df = ttest_ind(glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Guessed_Price'],
                              glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Guessed_Price'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Glasses t-score (t): {tstat:.4f}")
print(f"Glasses P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Glasses? {pvalue < 0.05}")

glasses_ttest_result = ttest(glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Guessed_Price'], glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Guessed_Price'])
glasses_ttest_result

ATE for Respondent's Estimated Price on Glasses: $ 900.98
Glasses t-score (t): 1.6197
Glasses P-value (p): 1.1122e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Glasses? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,1.619738,53.024941,two-sided,0.111222,"[-214.7, 2016.66]",0.316095,0.649,0.378394

In [ ]:
# Product 5: Jacket

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
jacket_df = df[['Treatment', 'Jacket_Guessed_Price']]
atehat_jacket = jacket_df.loc[df['Treatment'] == 1, 'Jacket_Guessed_Price'].mean() - jacket_df.loc[df['Treatment'] == 0, 'Jacket_Guessed_Price'].mean()
print("ATE for Respondent's Estimated Price on Jacket: $", round(atehat_jacket,2))

tstat, pvalue, df = ttest_ind(jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Guessed_Price'],
                              jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Guessed_Price'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Jacket t-score (t): {tstat:.4f}")
print(f"Jacket P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Jacket? {pvalue < 0.05}")

jacket_ttest_result = ttest(jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Guessed_Price'], jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Guessed_Price'])
jacket_ttest_result

ATE for Respondent's Estimated Price on Jacket: $ 1423.94
Jacket t-score (t): 3.8675
Jacket P-value (p): 3.0197e-04
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Jacket? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,3.867474,53.134876,two-sided,0.000302,"[685.5, 2162.37]",0.754699,125.554,0.97609

In [ ]:
# Product 6: Mascara

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
mascara_df = df[['Treatment', 'Mascara_Guessed_Price']]
atehat_mascara = mascara_df.loc[df['Treatment'] == 1, 'Mascara_Guessed_Price'].mean() - mascara_df.loc[df['Treatment'] == 0, 'Mascara_Guessed_Price'].mean()
print("ATE for Respondent's Estimated Price on Mascara: $", round(atehat_mascara,2))

tstat, pvalue, df = ttest_ind(mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Guessed_Price'],
                              mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Guessed_Price'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Mascara t-score (t): {tstat:.4f}")
print(f"Mascara P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Mascara? {pvalue < 0.05}")

mascara_ttest_result = ttest(mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Guessed_Price'], mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Guessed_Price'])
mascara_ttest_result

ATE for Respondent's Estimated Price on Mascara: $ 21.69
Mascara t-score (t): 4.6270
Mascara P-value (p): 1.9852e-05
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's estimated price on Mascara? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,4.626995,60.983991,two-sided,0.00002,"[12.31, 31.06]",0.899343,1682.042,0.996869

In [ ]:
product_avg = (atehat_hoodie + atehat_mascara + atehat_bag + atehat_glasses + atehat_loafer + atehat_jacket)/6

In [ ]:
hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Guessed_Price'].mean()

219.5185185185185

In [ ]:
bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Guessed_Price'].mean()

1408.1296296296296

In [ ]:
loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Guessed_Price'].mean()

487.97222222222223

In [ ]:
glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Guessed_Price'].mean()

994.6625925925925

In [ ]:
jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Guessed_Price'].mean()

1567.1109259259258

In [ ]:
mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Guessed_Price'].mean()

45.05555555555556

In [ ]:
hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Guessed_Price'].mean()

60.01754385964912

In [ ]:
bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Guessed_Price'].mean()

79.42105263157895

In [ ]:
loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Guessed_Price'].mean()

107.28070175438596

In [ ]:
glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Guessed_Price'].mean()

93.6842105263158

In [ ]:
jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Guessed_Price'].mean()

143.17543859649123

In [ ]:
mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Guessed_Price'].mean()

23.36842105263158

In [ ]:
#pip install statsmodels

In [ ]:
from IPython.display import display, HTML

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')

models = [
    sm.OLS.from_formula('Hoodie_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3'),
    sm.OLS.from_formula('Bag_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3'),
    sm.OLS.from_formula('Loafer_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3'),
    sm.OLS.from_formula('Glasses_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3'),
    sm.OLS.from_formula('Jacket_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3'),
    sm.OLS.from_formula('Mascara_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')
]

# Create a Stargazer object
stargazer = Stargazer(models)

# Set title
stargazer.title("Regression Models for Guessed Prices")

# Rename columns
stargazer.custom_columns(['Hoodie', 'Bag', 'Loafer', 'Glasses', 'Jacket', 'Mascara'])

# Render the table
print(stargazer.render_html())

Regression Models for Guessed Prices<br><table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><tr><td></td><td colspan="1">Hoodie</td><td colspan="1">Bag</td><td colspan="1">Loafer</td><td colspan="1">Glasses</td><td colspan="1">Jacket</td><td colspan="1">Mascara</td></tr><tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr>

<tr><td style="text-align:left">Intercept</td><td>60.018<sup>***</sup></td><td>79.421<sup>***</sup></td><td>107.281<sup>***</sup></td><td>93.684<sup>***</sup></td><td>143.175<sup>***</sup></td><td>23.368<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(4.244)</td><td>(7.597)</td><td>(7.631)</td><td>(8.607)</td><td>(13.242)</td><td>(1.253)</td></tr>
<tr><td style="text-align:left">Treatment</td><td>159.501<sup>***</sup></td><td>1328.709<sup>**</sup></td><td>380.692<sup>***</sup></td><td>900.978<sup></sup></td><td>1423.935<sup>***</sup></td><td>21.687<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(53.202)</td><td>(579.041)</td><td>(104.446)</td><td>(561.473)</td><td>(371.639)</td><td>(4.731)</td></tr>

<td colspan="7" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align: left">Observations</td><td>111</td><td>111</td><td>111</td><td>111</td><td>111</td><td>111</td></tr><tr><td style="text-align: left">R<sup>2</sup></td><td>0.081</td><td>0.049</td><td>0.116</td><td>0.025</td><td>0.127</td><td>0.171</td></tr><tr><td style="text-align: left">Adjusted R<sup>2</sup></td><td>0.073</td><td>0.041</td><td>0.108</td><td>0.016</td><td>0.119</td><td>0.163</td></tr><tr><td style="text-align: left">Residual Std. Error</td><td>270.178 (df=109)</td><td>2939.521 (df=109)</td><td>530.382 (df=109)</td><td>2850.343 (df=109)</td><td>1886.758 (df=109)</td><td>24.114 (df=109)</td></tr><tr><td style="text-align: left">F Statistic</td><td>8.988<sup>***</sup> (df=1; 109)</td><td>5.266<sup>**</sup> (df=1; 109)</td><td>13.285<sup>***</sup> (df=1; 109)</td><td>2.575<sup></sup> (df=1; 109)</td><td>14.680<sup>***</sup> (df=1; 109)</td><td>21.014<sup>***</sup> (df=1; 109)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align: left">Note:</td><td colspan="6" style="text-align: right"><sup>*</sup>p&lt;0.1; <sup>**</sup>p&lt;0.05; <sup>***</sup>p&lt;0.01</td></tr></table>

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')

hoodie_model = sm.OLS.from_formula('Hoodie_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')
bag_model = sm.OLS.from_formula('Bag_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')
loafer_model = sm.OLS.from_formula('Loafer_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')
glasses_model = sm.OLS.from_formula('Glasses_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')
jacket_model = sm.OLS.from_formula('Jacket_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')
mascara_model = sm.OLS.from_formula('Mascara_Guessed_Price ~ Treatment', data=df).fit(cov_type='HC3')

#Stargazer.add_line('Robust', ['Hoodie', 'Bag', 'Loafer', 'Glasses', 'Jacket', 'Mascara'], LineLocation.HEADER_BOTTOM)

Stargazer([hoodie_model,bag_model,loafer_model,glasses_model,jacket_model,mascara_model])

In [ ]:
from IPython.display import display, HTML

# HTML content from stargazer.render_html()
html_content = """
<b>Regression Models for Respondent's Estimated Prices</b><br><table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><tr><td></td><td colspan="1">Hoodie</td><td colspan="1">Bag</td><td colspan="1">Loafer</td><td colspan="1">Glasses</td><td colspan="1">Jacket</td><td colspan="1">Mascara</td></tr><tr><td
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr>

<tr><td style="text-align:left">Intercept</td><td>60.018<sup>***</sup></td><td>79.421<sup>***</sup></td><td>107.281<sup>***</sup></td><td>93.684<sup>***</sup></td><td>143.175<sup>***</sup></td><td>23.368<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(4.244)</td><td>(7.597)</td><td>(7.631)</td><td>(8.607)</td><td>(13.242)</td><td>(1.253)</td></tr>
<tr><td style="text-align:left"><b>Treatment (ATE)</b></td><td><b>159.501<sup>***</sup></b></td><td><b>1328.709<sup>**</sup></b></td><td><b>380.692<sup>***</sup></b></td><td><b>900.978<sup></sup></b></td><td><b>1423.935<sup>***</sup></b></td><td><b>21.687<sup>***</sup></b></td></tr>
<tr><td style="text-align:left">ATE Standard Error</td><td>(53.202)</td><td>(579.041)</td><td>(104.446)</td><td>(561.473)</td><td>(371.639)</td><td>(4.731)</td></tr>

<td colspan="7" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align: left">R<sup>2</sup></td><td>0.081</td><td>0.049</td><td>0.116</td><td>0.025</td><td>0.127</td><td>0.171</td></tr><tr><td style="text-align: left">Residual Std. Error</td><td>270.178 (df=109)</td><td>2939.521 (df=109)</td><td>530.382 (df=109)</td><td>2850.343 (df=109)</td><td>1886.758 (df=109)</td><td>24.114 (df=109)</td></tr><tr><td style="text-align: left">F Statistic</td><td>8.988<sup>***</sup> (df=1; 109)</td><td>5.266<sup>**</sup> (df=1; 109)</td><td>13.285<sup>***</sup> (df=1; 109)</td><td>2.575<sup></sup> (df=1; 109)</td><td>14.680<sup>***</sup> (df=1; 109)</td><td>21.014<sup>***</sup> (df=1; 109)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align: left">Note: </td><td  colspan="5" style="text-align: left">Observations=111 for all Models </td><td  colspan="6" style="text-align: right"><sup>*</sup>p&lt;0.1; <sup>**</sup>p&lt;0.05; <sup>***</sup>p&lt;0.01</td></tr></table>
"""

# Display the HTML content
display(HTML(html_content))

In [ ]:
# HTML content from stargazer.render_html()
html_content = """
<b>Regression Results </b><br><table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:center"></td><tr><td></td><td colspan="1">Price Estimate </td><td colspan="2">&nbsp;&nbsp;Individual Purchase Intent</td><td colspan="2">&nbsp;&nbsp;Purchase for Others Intent</td></tr><tr><td</tr>

<tr><td style="text-align:center"></td><tr><td></td><td colspan="1">(ATE)</td><td colspan="2">(ATE)</td><td colspan="2">(ATE)</td></tr><tr><td</tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr>

<tr><td style="text-align:left">Treatment</td></tr>
<tr>
<tr><td style="text-align:left">Hoodie</td><td>159.501<sup>***</sup></td><td colspan="2"> 0.0351</td><td colspan="2"> -0.2086</td></tr>
<tr><td style="text-align:left">Bag</td><td>1328.7086<sup>*</sup></td><td colspan="2"> 0.1725</td><td colspan="2"> -0.1949</td></tr>
<tr><td style="text-align:left">Loafer</td><td>380.6915<sup>***</sup></td><td colspan="2"> -0.2212</td><td colspan="2"> -0.3109</td></tr>
<tr><td style="text-align:left">Glasses</td><td>900.9784</td><td colspan="2"> -0.5107<sup>*</sup></td><td colspan="2"> -0.5175<sup>*</sup></td></tr>
<tr><td style="text-align:left">Jacket</td><td>1423.9355<sup>*</sup></td><td colspan="2"> 0.2758</td><td colspan="2"> -0.3246</td></tr>
<tr><td style="text-align:left">Mascara</td><td>21.6871<sup>***</sup></td><td colspan="2">0.0468</td><td colspan="2"> 0.6598</td></tr>


<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align: left">Note: </td><td colspan="6" style="text-align: right"><sup>*</sup>p&lt;0.1; <sup>**</sup>p&lt;0.05; <sup>***</sup>p&lt;0.01</td></tr></table>
"""

# Display the HTML content
display(HTML(html_content))

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
hoodie_sex_fe = feols("Hoodie_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")
bag_sex_fe = feols("Bag_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")
loafer_sex_fe = feols("Loafer_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")
glasses_sex_fe = feols("Glasses_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")
jacket_sex_fe = feols("Jacket_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")
mascara_sex_fe = feols("Mascara_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")

etable([hoodie_sex_fe, bag_sex_fe, loafer_sex_fe, glasses_sex_fe, jacket_sex_fe,mascara_sex_fe])

                              est1                 est2                  est3                   est4                   est5                   est6
------------  --------------------  -------------------  --------------------  ---------------------  ---------------------  ---------------------
depvar        Hoodie_Guessed_Price    Bag_Guessed_Price  Loafer_Guessed_Price  Glasses_Guessed_Price   Jacket_Guessed_Price  Mascara_Guessed_Price
--------------------------------------------------------------------------------------------------------------------------------------------------
Treatment       163.768** (55.866)  1398.862* (614.969)  368.132*** (101.160)      933.227 (598.413)  1380.737*** (343.396)      23.126*** (4.841)
--------------------------------------------------------------------------------------------------------------------------------------------------
Sex                              x                    x                     x                      x                      x                      x
--------------------------------------------------------------------------------------------------------------------------------------------------
R2                           0.086                0.060                 0.125                  0.028                  0.150                  0.222
S.E. type                   hetero               hetero                hetero                 hetero                 hetero                 hetero
Observations                   111                  111                   111                    111                    111                    111
--------------------------------------------------------------------------------------------------------------------------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001
Format of coefficient cell:
Coefficient (Std. Error)

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
hoodie_budget_fe = feols("Hoodie_Purchase_Intent_Friend ~ Treatment | Respondent_Budget", data = df).vcov("hetero")
bag_budget_fe = feols("Bag_Purchase_Intent_Friend ~ Treatment | Respondent_Budget", data = df).vcov("hetero")
loafer_budget_fe = feols("Loafer_Purchase_Intent_Friend ~ Treatment | Respondent_Budget", data = df).vcov("hetero")
glasses_budget_fe = feols("Glasses_Purchase_Intent_Friend ~ Treatment | Respondent_Budget", data = df).vcov("hetero")
jacket_budget_fe = feols("Jacket_Purchase_Intent_Friend ~ Treatment | Respondent_Budget", data = df).vcov("hetero")
mascara_budget_fe = feols("Mascara_Purchase_Intent_Friend ~ Treatment | Respondent_Budget", data = df).vcov("hetero")

etable([hoodie_budget_fe, bag_budget_fe, loafer_budget_fe, glasses_budget_fe, jacket_budget_fe, mascara_budget_fe])

                                            est1                        est2                           est3                            est4                           est5                            est6
-----------------  -----------------------------  --------------------------  -----------------------------  ------------------------------  -----------------------------  ------------------------------
depvar             Hoodie_Purchase_Intent_Friend  Bag_Purchase_Intent_Friend  Loafer_Purchase_Intent_Friend  Glasses_Purchase_Intent_Friend  Jacket_Purchase_Intent_Friend  Mascara_Purchase_Intent_Friend
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Treatment                         -0.181 (0.240)              -0.327 (0.228)                 -0.338 (0.171)                 -0.482* (0.238)                 -0.253 (0.252)                 0.617** (0.233)
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Respondent_Budget                              x                           x                              x                               x                              x                               x
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
R2                                         0.086                       0.120                          0.073                           0.063                          0.041                           0.101
S.E. type                                 hetero                      hetero                         hetero                          hetero                         hetero                          hetero
Observations                                 111                         111                            111                             111                            111                             111
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001
Format of coefficient cell:
Coefficient (Std. Error)

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
hoodie_budget_fe = feols("Mascara_Guessed_Price ~ Treatment | Sex", data = df).vcov("hetero")
etable([hoodie_budget_fe])

                               est1
------------  ---------------------
depvar        Mascara_Guessed_Price
-----------------------------------
Treatment         23.126*** (4.841)
-----------------------------------
Sex                               x
-----------------------------------
R2                            0.222
S.E. type                    hetero
Observations                    111
-----------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001
Format of coefficient cell:
Coefficient (Std. Error)

In [ ]:
# Comparing control variables and interaction terms

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')

control_gender = feols("Mascara_Purchase_Intent_Self ~ Treatment + Sex", data=df)
interaction_gender = feols("Mascara_Purchase_Intent_Friend ~ Treatment * Sex", data=df)

etable([control_gender, interaction_gender])

                                                est1                            est2
----------------------  ----------------------------  ------------------------------
depvar                  Mascara_Purchase_Intent_Self  Mascara_Purchase_Intent_Friend
------------------------------------------------------------------------------------
Intercept                           3.974*** (0.173)                2.583*** (0.340)
Treatment                             -0.249 (0.152)                  1.064* (0.444)
Sex[T.Male]                        -2.798*** (0.174)                  -0.421 (0.385)
Sex[T.Other]                          -0.599 (0.425)                  -1.583 (0.900)
Treatment:Sex[T.Male]                                                 -0.712 (0.519)
Treatment:Sex[T.Other]                                                 0.436 (1.260)
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
R2                                             0.716                           0.179
S.E. type                                        iid                             iid
Observations                                     111                             111
------------------------------------------------------------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001
Format of coefficient cell:
Coefficient (Std. Error)

In [ ]:
# Interaction Term

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')

model_rider_cancellations1 = feols("Loafer_Guessed_Price ~ Treatment * Respondent_Budget", data=df)
model_total_trips1 = feols("Jacket_Guessed_Price ~ Treatment * Respondent_Budget", data=df)
model_total_trips2 = feols("Hoodie_Guessed_Price ~ Treatment * Respondent_Budget", data=df)
model_total_trips3 = feols("Glasses_Guessed_Price ~ Treatment * Respondent_Budget", data=df)

etable([model_rider_cancellations1, model_total_trips1,model_total_trips2,model_total_trips3])

                                                                                   est1                  est2                  est3                   est4
-----------------------------------------------------------------  --------------------  --------------------  --------------------  ---------------------
depvar                                                             Loafer_Guessed_Price  Jacket_Guessed_Price  Hoodie_Guessed_Price  Glasses_Guessed_Price
----------------------------------------------------------------------------------------------------------------------------------------------------------
Intercept                                                             230.000 (526.908)    300.000 (1935.388)      65.000 (264.778)     150.000 (2892.318)
Treatment                                                             341.667 (569.126)   2008.333 (2090.458)     129.167 (285.993)     382.500 (3124.061)
Respondent_Budget[T.$50~$200]                                        -127.444 (536.577)   -162.148 (1970.903)      -4.259 (269.637)     -46.481 (2945.393)
Respondent_Budget[T.I do not purchase similar products]               -30.000 (745.161)    100.000 (2737.052)      -5.000 (374.453)      30.000 (4090.356)
Respondent_Budget[T.Less than $50]                                   -125.857 (536.235)   -166.464 (1969.646)      -5.857 (269.465)     -70.893 (2943.514)
Respondent_Budget[T.More than $500]                                   421.667 (372.581)  -1458.333 (1368.526)     222.500 (187.227)     -95.833 (2045.178)
Treatment:Respondent_Budget[T.$50~$200]                               197.478 (589.974)   -745.985 (2167.033)     -75.407 (296.470)     -82.819 (3238.497)
Treatment:Respondent_Budget[T.I do not purchase similar products]    -269.667 (810.595)   -538.333 (2977.396)     334.833 (407.334)    -328.500 (4449.535)
Treatment:Respondent_Budget[T.Less than $50]                         -158.485 (589.662)   -598.370 (2165.890)      38.140 (296.313)    1537.032 (3236.788)
----------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------
R2                                                                                0.183                 0.140                 0.174                  0.060
S.E. type                                                                           iid                   iid                   iid                    iid
Observations                                                                        111                   111                   111                    111
----------------------------------------------------------------------------------------------------------------------------------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001
Format of coefficient cell:
Coefficient (Std. Error)

#Respondent's purchase intent for themselves analysis

In [ ]:
# Product 1: Hoodie

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
hoodie_df = df[['Treatment', 'Hoodie_Purchase_Intent_Self']]
atehat_hoodie = hoodie_df.loc[df['Treatment'] == 1, 'Hoodie_Purchase_Intent_Self'].mean() - hoodie_df.loc[df['Treatment'] == 0, 'Hoodie_Purchase_Intent_Self'].mean()
print("ATE for Respondent's intent to purchase hoodie for themselves", round(atehat_hoodie,2))

tstat, pvalue, df = ttest_ind(hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Purchase_Intent_Self'],
                              hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Purchase_Intent_Self'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Hoodie t-score (t): {tstat:.4f}")
print(f"Hoodie P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the hoodie for themselves? {pvalue < 0.05}")

hoodie_ttest_result = ttest(hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Purchase_Intent_Self'], hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Purchase_Intent_Self'])
hoodie_ttest_result

ATE for Respondent's intent to purchase hoodie for themselves 0.04
Hoodie t-score (t): 0.1459
Hoodie P-value (p): 8.8425e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the hoodie for themselves? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.14593,106.915531,two-sided,0.884252,"[-0.44, 0.51]",0.027777,0.203,0.052411

In [ ]:
# Product 2: Bag

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
bag_df = df[['Treatment', 'Bag_Purchase_Intent_Self']]
atehat_bag = bag_df.loc[df['Treatment'] == 1, 'Bag_Purchase_Intent_Self'].mean() - bag_df.loc[df['Treatment'] == 0, 'Bag_Purchase_Intent_Self'].mean()
print("ATE for Respondent's intent to purchase bag for themselves", round(atehat_bag,2))

tstat, pvalue, df = ttest_ind(bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Purchase_Intent_Self'],
                              bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Purchase_Intent_Self'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Bag t-score (t): {tstat:.4f}")
print(f"Bag P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the bag for themselves? {pvalue < 0.05}")

bag_ttest_result = ttest(bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Purchase_Intent_Self'], bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Purchase_Intent_Self'])
bag_ttest_result

ATE for Respondent's intent to purchase bag for themselves 0.17
Bag t-score (t): 0.9090
Bag P-value (p): 3.6534e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the bag for themselves? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.909041,108.698306,two-sided,0.36534,"[-0.2, 0.55]",0.172619,0.292,0.146921

In [ ]:
# Product 3: Loafer

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
loafer_df = df[['Treatment', 'Loafer_Purchase_Intent_Self']]
atehat_loafer = loafer_df.loc[df['Treatment'] == 1, 'Loafer_Purchase_Intent_Self'].mean() - loafer_df.loc[df['Treatment'] == 0, 'Loafer_Purchase_Intent_Self'].mean()
print("ATE for Respondent's intent to purchase loafer for themselves", round(atehat_loafer,2))

tstat, pvalue, df = ttest_ind(loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Purchase_Intent_Self'],
                              loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Purchase_Intent_Self'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Loafer t-score (t): {tstat:.4f}")
print(f"Loafer P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these loafer for themselves? {pvalue < 0.05}")

loafer_ttest_result = ttest(loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Purchase_Intent_Self'], loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Purchase_Intent_Self'])
loafer_ttest_result

ATE for Respondent's intent to purchase loafer for themselves -0.22
Loafer t-score (t): -1.7676
Loafer P-value (p): 8.0970e-02
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these loafer for themselves? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-1.767622,79.317409,two-sided,0.08097,"[-0.47, 0.03]",0.329732,0.81,0.405698

In [ ]:
# Product 4: Glasses

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
glasses_df = df[['Treatment', 'Glasses_Purchase_Intent_Self']]
atehat_glasses = glasses_df.loc[df['Treatment'] == 1, 'Glasses_Purchase_Intent_Self'].mean() - glasses_df.loc[df['Treatment'] == 0, 'Glasses_Purchase_Intent_Self'].mean()
print("ATE for Respondent's intent to purchase glasses for themselves",round(atehat_glasses,2))

tstat, pvalue, df = ttest_ind(glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Purchase_Intent_Self'],
                              glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Purchase_Intent_Self'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Glasses t-score (t): {tstat:.4f}")
print(f"Glasses P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these glasses for themselves? {pvalue < 0.05}")

glasses_ttest_result = ttest(glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Purchase_Intent_Self'], glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Purchase_Intent_Self'])
glasses_ttest_result

ATE for Respondent's intent to purchase glasses for themselves -0.51
Glasses t-score (t): -2.0079
Glasses P-value (p): 4.7209e-02
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these glasses for themselves? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-2.007942,105.348174,two-sided,0.047209,"[-1.02, -0.01]",0.382687,1.208,0.514977

In [ ]:
# Product 5: Jacket

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
jacket_df = df[['Treatment', 'Jacket_Purchase_Intent_Self']]
atehat_jacket = jacket_df.loc[df['Treatment'] == 1, 'Jacket_Purchase_Intent_Self'].mean() - jacket_df.loc[df['Treatment'] == 0, 'Jacket_Purchase_Intent_Self'].mean()
print("ATE for Respondent's intent to purchase jacket for themselves", round(atehat_jacket,2))

tstat, pvalue, df = ttest_ind(jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Purchase_Intent_Self'],
                              jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Purchase_Intent_Self'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Jacket t-score (t): {tstat:.4f}")
print(f"Jacket P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this jackets for themselves? {pvalue < 0.05}")

jacket_ttest_result = ttest(jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Purchase_Intent_Self'], jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Purchase_Intent_Self'])
jacket_ttest_result

ATE for Respondent's intent to purchase jacket for themselves 0.28
Jacket t-score (t): 1.0952
Jacket P-value (p): 2.7585e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this jackets for themselves? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,1.095192,108.759556,two-sided,0.275852,"[-0.22, 0.78]",0.207935,0.345,0.19205

In [ ]:
# Product 6: Mascara

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
mascara_df = df[['Treatment', 'Mascara_Purchase_Intent_Self']]
atehat_mascara = mascara_df.loc[df['Treatment'] == 1, 'Mascara_Purchase_Intent_Self'].mean() - mascara_df.loc[df['Treatment'] == 0, 'Mascara_Purchase_Intent_Self'].mean()
print("ATE for Respondent's intent to purchase mascara for themselves", round(atehat_mascara,2))

tstat, pvalue, df = ttest_ind(mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Purchase_Intent_Self'],
                              mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Purchase_Intent_Self'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Mascara t-score (t): {tstat:.4f}")
print(f"Mascara P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the mascara for themselves? {pvalue < 0.05}")

mascara_ttest_result = ttest(mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Purchase_Intent_Self'], mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Purchase_Intent_Self'])
mascara_ttest_result

ATE for Respondent's intent to purchase mascara for themselves 0.05
Mascara t-score (t): 0.1667
Mascara P-value (p): 8.6788e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the mascara for themselves? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.16674,108.95763,two-sided,0.867884,"[-0.51, 0.6]",0.0316,0.204,0.053122

#Respondent's purchase intent for someone they know analysis

In [ ]:
# Product 1: Hoodie

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
hoodie_df = df[['Treatment', 'Hoodie_Purchase_Intent_Friend']]
atehat_hoodie = hoodie_df.loc[df['Treatment'] == 1, 'Hoodie_Purchase_Intent_Friend'].mean() - hoodie_df.loc[df['Treatment'] == 0, 'Hoodie_Purchase_Intent_Friend'].mean()
print("ATE for Respondent's intent to purchase hoodie for someone they know", round(atehat_hoodie,2))

tstat, pvalue, df = ttest_ind(hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Purchase_Intent_Friend'],
                              hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Purchase_Intent_Friend'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Hoodie t-score (t): {tstat:.4f}")
print(f"Hoodie P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the hoodie for someone they know? {pvalue < 0.05}")

hoodie_ttest_result = ttest(hoodie_df.loc[hoodie_df['Treatment'] == 1, 'Hoodie_Purchase_Intent_Friend'], hoodie_df.loc[hoodie_df['Treatment'] == 0, 'Hoodie_Purchase_Intent_Friend'])
hoodie_ttest_result

ATE for Respondent's intent to purchase hoodie for someone they know -0.21
Hoodie t-score (t): -0.9293
Hoodie P-value (p): 3.5504e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the hoodie for someone they know? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-0.929285,97.162193,two-sided,0.355044,"[-0.65, 0.24]",0.177907,0.297,0.153121

In [ ]:
# Product 2: Bag

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
bag_df = df[['Treatment', 'Bag_Purchase_Intent_Friend']]
atehat_bag = bag_df.loc[df['Treatment'] == 1, 'Bag_Purchase_Intent_Friend'].mean() - bag_df.loc[df['Treatment'] == 0, 'Bag_Purchase_Intent_Friend'].mean()
print("ATE for Respondent's intent to purchase bag for someone the know", round(atehat_bag,2))

tstat, pvalue, df = ttest_ind(bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Purchase_Intent_Friend'],
                              bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Purchase_Intent_Friend'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Bag t-score (t): {tstat:.4f}")
print(f"Bag P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the bag for someone they know? {pvalue < 0.05}")

bag_ttest_result = ttest(bag_df.loc[bag_df['Treatment'] == 1, 'Bag_Purchase_Intent_Friend'], bag_df.loc[bag_df['Treatment'] == 0, 'Bag_Purchase_Intent_Friend'])
bag_ttest_result

ATE for Respondent's intent to purchase bag for someone the know -0.19
Bag t-score (t): -0.8744
Bag P-value (p): 3.8387e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase the bag for someone they know? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-0.874385,106.845564,two-sided,0.38387,"[-0.64, 0.25]",0.166444,0.284,0.139931

In [ ]:
# Product 3: Loafer

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
loafer_df = df[['Treatment', 'Loafer_Purchase_Intent_Friend']]
atehat_loafer = loafer_df.loc[df['Treatment'] == 1, 'Loafer_Purchase_Intent_Friend'].mean() - loafer_df.loc[df['Treatment'] == 0, 'Loafer_Purchase_Intent_Friend'].mean()
print("ATE for Respondent's intent to purchase loafer for someone they know", round(atehat_loafer,2))

tstat, pvalue, df = ttest_ind(loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Purchase_Intent_Friend'],
                              loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Purchase_Intent_Friend'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Loafer t-score (t): {tstat:.4f}")
print(f"Loafer P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these loafer for someone they know? {pvalue < 0.05}")

loafer_ttest_result = ttest(loafer_df.loc[loafer_df['Treatment'] == 1, 'Loafer_Purchase_Intent_Friend'], loafer_df.loc[loafer_df['Treatment'] == 0, 'Loafer_Purchase_Intent_Friend'])
loafer_ttest_result

ATE for Respondent's intent to purchase loafer for someone they know -0.31
Loafer t-score (t): -1.8110
Loafer P-value (p): 7.2992e-02
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these loafer for someone they know? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-1.810985,105.380163,two-sided,0.072992,"[-0.65, 0.03]",0.341679,0.868,0.430012

In [ ]:
# Product 4: Glasses

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
glasses_df = df[['Treatment', 'Glasses_Purchase_Intent_Friend']]
atehat_glasses = glasses_df.loc[df['Treatment'] == 1, 'Glasses_Purchase_Intent_Friend'].mean() - glasses_df.loc[df['Treatment'] == 0, 'Glasses_Purchase_Intent_Friend'].mean()
print("ATE for Respondent's intent to purchase glasses for someone they know",round(atehat_glasses,2))

tstat, pvalue, df = ttest_ind(glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Purchase_Intent_Friend'],
                              glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Purchase_Intent_Friend'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Glasses t-score (t): {tstat:.4f}")
print(f"Glasses P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these glasses for someone they know? {pvalue < 0.05}")

glasses_ttest_result = ttest(glasses_df.loc[glasses_df['Treatment'] == 1, 'Glasses_Purchase_Intent_Friend'], glasses_df.loc[glasses_df['Treatment'] == 0, 'Glasses_Purchase_Intent_Friend'])
glasses_ttest_result

ATE for Respondent's intent to purchase glasses for someone they know -0.52
Glasses t-score (t): -2.2798
Glasses P-value (p): 2.4566e-02
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase these glasses for someone they know? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-2.279821,108.901654,two-sided,0.024566,"[-0.97, -0.07]",0.431944,2.013,0.615839

In [ ]:
# Product 5: Jacket

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
jacket_df = df[['Treatment', 'Jacket_Purchase_Intent_Friend']]
atehat_jacket = jacket_df.loc[df['Treatment'] == 1, 'Jacket_Purchase_Intent_Friend'].mean() - jacket_df.loc[df['Treatment'] == 0, 'Jacket_Purchase_Intent_Friend'].mean()
print("ATE for Respondent's intent to purchase jacket for someone they know", round(atehat_jacket,2))

tstat, pvalue, df = ttest_ind(jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Purchase_Intent_Friend'],
                              jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Purchase_Intent_Friend'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Jacket t-score (t): {tstat:.4f}")
print(f"Jacket P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this jacket for someone they know? {pvalue < 0.05}")

jacket_ttest_result = ttest(jacket_df.loc[jacket_df['Treatment'] == 1, 'Jacket_Purchase_Intent_Friend'], jacket_df.loc[jacket_df['Treatment'] == 0, 'Jacket_Purchase_Intent_Friend'])
jacket_ttest_result

ATE for Respondent's intent to purchase jacket for someone they know -0.32
Jacket t-score (t): -1.3883
Jacket P-value (p): 1.6787e-01
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this jacket for someone they know? False

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-1.388326,108.9945,two-sided,0.167869,"[-0.79, 0.14]",0.263202,0.477,0.27931

In [ ]:
# Product 6: Mascara

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
mascara_df = df[['Treatment', 'Mascara_Purchase_Intent_Friend']]
atehat_mascara = mascara_df.loc[df['Treatment'] == 1, 'Mascara_Purchase_Intent_Friend'].mean() - mascara_df.loc[df['Treatment'] == 0, 'Mascara_Purchase_Intent_Friend'].mean()
print("ATE for Respondent's intent to purchase mascara for someone they know", round(atehat_mascara,2))

tstat, pvalue, df = ttest_ind(mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Purchase_Intent_Friend'],
                              mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Purchase_Intent_Friend'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Mascara t-score (t): {tstat:.4f}")
print(f"Mascara P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this mascara for someone they know? {pvalue < 0.05}")

mascara_ttest_result = ttest(mascara_df.loc[mascara_df['Treatment'] == 1, 'Mascara_Purchase_Intent_Friend'], mascara_df.loc[mascara_df['Treatment'] == 0, 'Mascara_Purchase_Intent_Friend'])
mascara_ttest_result

ATE for Respondent's intent to purchase mascara for someone they know 0.66
Mascara t-score (t): 2.8160
Mascara P-value (p): 5.7825e-03
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this mascara for someone they know? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,2.815972,107.966751,two-sided,0.005782,"[0.2, 1.12]",0.535388,6.567,0.797977

In [ ]:
# Hypothesis Testing on Average

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')

products_df = df[['Treatment', 'Hoodie_Guessed_Price', 'Bag_Guessed_Price', 'Loafer_Guessed_Price', 'Glasses_Guessed_Price', 'Jacket_Guessed_Price', 'Mascara_Guessed_Price']]
products_df['Product_Guessed_Price_Avg'] = products_df[['Hoodie_Guessed_Price', 'Bag_Guessed_Price', 'Loafer_Guessed_Price', 'Glasses_Guessed_Price', 'Jacket_Guessed_Price', 'Mascara_Guessed_Price']].mean(axis=1)

atehat_all_products = products_df.loc[products_df['Treatment'] == 1, 'Product_Guessed_Price_Avg'].mean() - products_df.loc[products_df['Treatment'] == 0, 'Product_Guessed_Price_Avg'].mean()
print("ATE for the sum of estimated prices:", round(atehat_all_products,2))


tstat, pvalue, df = ttest_ind(products_df.loc[jacket_df['Treatment'] == 1, 'Product_Guessed_Price_Avg'],
                              products_df.loc[jacket_df['Treatment'] == 0, 'Product_Guessed_Price_Avg'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Jacket t-score (t): {tstat:.4f}")
print(f"Jacket P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on the average of respondent's estimated prices? {pvalue < 0.05}")



all_products_ttest_result = ttest(products_df.loc[products_df['Treatment'] == 1, 'Product_Guessed_Price_Avg'], products_df.loc[products_df['Treatment'] == 0, 'Product_Guessed_Price_Avg'])
all_products_ttest_result

ATE for the sum of estimated prices: 702.58
Jacket t-score (t): 4.5068
Jacket P-value (p): 3.6523e-05
Should we reject the null hypothesis that celebrity marketing has no effect on the average of respondent's estimated prices? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,4.506814,53.133359,two-sided,0.000037,"[389.92, 1015.25]",0.879461,1089.858,0.995731

In [ ]:
# Hypothesis Testing on Sum (essentially the same as average)

df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')

products_df = df[['Treatment', 'Hoodie_Guessed_Price', 'Bag_Guessed_Price', 'Loafer_Guessed_Price', 'Glasses_Guessed_Price', 'Jacket_Guessed_Price', 'Mascara_Guessed_Price']]
products_df['Product_Guessed_Price_Sum'] = products_df[['Hoodie_Guessed_Price', 'Bag_Guessed_Price', 'Loafer_Guessed_Price', 'Glasses_Guessed_Price', 'Jacket_Guessed_Price', 'Mascara_Guessed_Price']].sum(axis=1)

atehat_all_products = products_df.loc[products_df['Treatment'] == 1, 'Product_Guessed_Price_Sum'].mean() - products_df.loc[products_df['Treatment'] == 0, 'Product_Guessed_Price_Sum'].mean()
print("ATE for the sum of estimated prices:", round(atehat_all_products,2))


tstat, pvalue, df = ttest_ind(products_df.loc[jacket_df['Treatment'] == 1, 'Product_Guessed_Price_Sum'],
                              products_df.loc[jacket_df['Treatment'] == 0, 'Product_Guessed_Price_Sum'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Jacket t-score (t): {tstat:.4f}")
print(f"Jacket P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on the sum of respondent's estimated prices? {pvalue < 0.05}")



all_products_ttest_result = ttest(products_df.loc[products_df['Treatment'] == 1, 'Product_Guessed_Price_Sum'], products_df.loc[products_df['Treatment'] == 0, 'Product_Guessed_Price_Sum'])
all_products_ttest_result

ATE for the sum of estimated prices: 4215.5
Jacket t-score (t): 4.5068
Jacket P-value (p): 3.6523e-05
Should we reject the null hypothesis that celebrity marketing has no effect on the sum of respondent's estimated prices? True

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,4.506814,53.133359,two-sided,0.000037,"[2339.51, 6091.49]",0.879461,1089.858,0.995731

In [ ]:
tstat, pvalue, df = ttest_ind(products_df.loc[jacket_df['Treatment'] == 1, 'Product_Guessed_Price_Sum'],
                              products_df.loc[jacket_df['Treatment'] == 0, 'Product_Guessed_Price_Sum'],
                              alternative = 'two-sided', usevar = 'unequal', value = 0)

print(f"Jacket t-score (t): {tstat:.4f}")
print(f"Jacket P-value (p): {pvalue:.4e}")
print(f"Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this jacket for someone they know? {pvalue < 0.05}")

Jacket t-score (t): 4.5068
Jacket P-value (p): 3.6523e-05
Should we reject the null hypothesis that celebrity marketing has no effect on respondent's intent to purchase this jacket for someone they know? True

In [ ]:
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
df.columns

Index(['ResponseId', 'Treatment', 'Age', 'Sex', 'Respondent_Budget',
       'Hoodie_Purchase_Intent_Self', 'Hoodie_Purchase_Intent_Friend',
       'Hoodie_Guessed_Price', 'Hoodie_Celeb', 'Bag_Purchase_Intent_Self',
       'Bag_Purchase_Intent_Friend', 'Bag_Guessed_Price', 'Bag_Celeb',
       'Loafer_Purchase_Intent_Self', 'Loafer_Purchase_Intent_Friend',
       'Loafer_Guessed_Price', 'Loafer_Celeb', 'Glasses_Purchase_Intent_Self',
       'Glasses_Purchase_Intent_Friend', 'Glasses_Guessed_Price',
       'Glasses_Celeb', 'Jacket_Purchase_Intent_Self',
       'Jacket_Purchase_Intent_Friend', 'Jacket_Guessed_Price', 'Jacket_Celeb',
       'Mascara_Purchase_Intent_Self', 'Mascara_Purchase_Intent_Friend',
       'Mascara_Guessed_Price'],
      dtype='object')

In [ ]:
# CATE
df = pd.read_csv('BA472_Survey_Results_Cleaned.csv')
dummy_df = pd.get_dummies(df['Sex']).astype(int)
df = pd.concat([df, dummy_df], axis=1)
df = df.drop('Sex', axis=1)
df = df.drop('Other', axis=1)
products = ['Hoodie','Bag','Loafer','Glasses','Jacket','Mascara']
for i in products:
  formula_intent_self = f"{i}_Purchase_Intent_Self ~ Treatment*Male"
  formula_intent_friend = f"{i}_Purchase_Intent_Friend ~ Treatment*Male"
  formula_guessed_price = f"{i}_Guessed_Price ~ Treatment*Male"

  model_intent_self = smf.ols(formula_intent_self, data=df).fit(cov_type='HC1')
  model_intent_friend = smf.ols(formula_intent_friend, data=df).fit(cov_type='HC1')
  model_guessed_price = smf.ols(formula_guessed_price, data=df).fit(cov_type='HC1')

  print(f"**Product: {i}**")
  print("Regression Results:")
  print('PI_self*Male:',model_intent_self.params['Treatment']+model_intent_self.params['Treatment:Male'],'|p-val:',(model_intent_self.pvalues['Treatment']+model_intent_self.pvalues['Treatment:Male'])/2,
        '\nPI_friend*Male:',model_intent_friend.params['Treatment']+model_intent_friend.params['Treatment:Male'],'|p-val:',(model_intent_friend.pvalues['Treatment']+model_intent_friend.pvalues['Treatment:Male'])/2,
        '\nPP*Male:',model_guessed_price.params['Treatment']+model_guessed_price.params['Treatment:Male'],'|p-val:',(model_guessed_price.pvalues['Treatment']+model_guessed_price.pvalues['Treatment:Male'])/2)

**Product: Hoodie**
Regression Results:
PI_self*Male: 0.01926910299003315 |p-val: 0.44315260803120543
PI_friend*Male: -0.2857142857142855 |p-val: 0.7186793772764398
PP*Male: 180.12093023255812 |p-val: 0.2743303120037436
**Product: Bag**
Regression Results:
PI_self*Male: 0.049833887043189445 |p-val: 0.9156681652090596
PI_friend*Male: -0.140199335548174 |p-val: 0.6767391239577313
PP*Male: 1739.3867109634552 |p-val: 0.1124163301712308
**Product: Loafer**
Regression Results:
PI_self*Male: -0.1700996677740867 |p-val: 0.307294304555363
PI_friend*Male: -0.31029900332225957 |p-val: 0.5931026051581949
PP*Male: 304.69202657807324 |p-val: 0.167566835249087
**Product: Glasses**
Regression Results:
PI_self*Male: -0.17142857142857115 |p-val: 0.06601576036213858
PI_friend*Male: -0.39003322259136264 |p-val: 0.34699200035887545
PP*Male: 1101.7219534883725 |p-val: 0.2850716316168117
**Product: Jacket**
Regression Results:
PI_self*Male: 0.40598006644518303 |p-val: 0.7256396493410252
PI_friend*Male: -0.41528239202657824 |p-val: 0.6974518193815762
PP*Male: 1045.3352624584725 |p-val: 0.11110505095537666
**Product: Mascara**
Regression Results:
PI_self*Male: 0.09102990033222458 |p-val: 0.00832736583939435
PI_friend*Male: 0.3514950166112951 |p-val: 0.0648635465222596
PP*Male: 27.690365448504977 |p-val: 0.02223089998081796

#HTML Scripts for Visualizations

In [ ]:
html_content = '''
<html>
<head>
<style>
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
</style>
</head>
<body>

<h2>CATE Analysis</h2>

<table>
  <tr>
    <th>Product</th>
    <th>Purchase Intent for Self : Male</th>
    <th>Purchase Intent for Friends : Male</th>
    <th>Perceived Price : Male</th>
  </tr>
  <tr>
    <td>Hoodie</td>
    <td>0.0193</td>
    <td>-0.2857</td>
    <td>180.121</td>
  </tr>
  <tr>
    <td>Bag</td>
    <td>0.0498</td>
    <td>-0.1401</td>
    <td>1739.3867</td>
  </tr>
  <tr>
    <td>Loafer</td>
    <td>-0.1700</td>
    <td>-0.3102</td>
    <td>304.692</td>
  </tr>
  <tr>
    <td>Glasses</td>
    <td>-0.1714</td>
    <td>-0.390</td>
    <td>1101.722</td>
  </tr>
  <tr>
    <td>Jacket</td>
    <td>0.4059</td>
    <td>-0.4152</td>
    <td>1045.3352</td>
  </tr>
  <tr>
    <td>Mascara</td>
    <td>0.0910</td>
    <td>0.3515</td>
    <td>27.690</td>
  </tr>
</table>

</body>
</html>
'''
# Display the HTML content
display(HTML(html_content))

In [ ]:
html_content = """

<b>General Insights </b><br>
<table style="text-align:center">
    <tr>
        <td colspan="6" style="border-bottom: 1px solid black"></td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Products</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Celebrity</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Average Treatment Group Price Estimate ($)</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Average Control Group Price Estimate ($)</td>
        <td>Real Price ($)</td>
    </tr>
    <tr>
        <td colspan="6" style="border-bottom: 1px solid black"></td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Hoodie</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Drake</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$219.52</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$60.02</td>
        <td>$429</td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Bag</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Kendall Jenner</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$1408.13</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$79.42</td>
        <td>$1350</td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Loafer</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Taylor Swift</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$487.97</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$107.28</td>
        <td>$248</td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Glasses</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Robert Downey Jr.</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$994.66</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$93.68</td>
        <td>$675</td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Jacket</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Travis Scott</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$1567.11</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$143.18</td>
        <td>$8,255</td>
    </tr>
    <tr>
        <td style="text-align:left; padding-right: 10px; border-right: 1px solid black;">Mascara</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">Selena Gomez</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$45.06</td>
        <td style="padding-right: 10px; border-right: 1px solid black;">$23.39</td>
        <td>$20</td>
    </tr>
    <tr>
        <td colspan="6" style="border-bottom: 1px solid black"></td>
    </tr>
</table>
"""

# Display the HTML content
display(HTML(html_content))