Products:
1. Hoodie (Drake)
2. Leather Shoulder Bag (Kendall Jenner)
3. Loafer Slingback (Taylor Swift)
4. Eyeglass Frame (Robert Downey Jr.)
5. Leather Bomber Jacket (Travis Scott)
6. Mascara (Selena Gomez)

**Varible Definitions**

| Variable          | Variable Definitions                                                                                                                               |
|-------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `RespondId`   |  automatically generated ID for survey participant                                                                                                 |
| `Treatment`   | treatment = 1 if respondent took treatment survey                                                                                                                      |
| `Age`   | Age                                                                                                          |
| `Sex`   |  Male, Female, or Other                                                                                                 |
| `Respondent_Budget` | Respondents average monthly spending on similar products (Categorical variable, with 5 unique classes)                                                                                                   |
| `Product_Purchase_Intent_Self` | A scale of 1 to 5, how likely the respondent would purchase this product for themselves (6 of these variables for 6 different products)                                                                                                    |
| `Product_Purchase_Intent_Friend` | A scale of 1 to 5, how likely the respondent would purchase this product for someone they know, not neccessarily a friend (6 of these variables for 6 different products)                                                                                                     |
| `Product_Guessed_Price` | Respondent's guess of how much the product is sold for. (6 of these variables for 6 different products)                                                                                                     |
| `Product_Celeb` | 1 if the treatment respondent knows who the celebrity is, 0 if they don't know, and NaN if the respondent took the control survey. (6 of these variables for 6 different products)                                                                                                    |

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
'''
from google.colab import files

df = files.upload()
''';

In [ ]:
df = pd.read_csv('BA472 Project Survey_April 30, 2024_19.00.csv')
df

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,T5.2_8,T5.3,T5.4,T6.1_8,T6.2_8,T6.3,T6.4,D1,D2,D3
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,"On a scale from 1-5, how likely would you buy ...",How much do you think this product sells for? ...,Do you know who this person is?,"On a scale from 1-5, how likely would you buy ...","On a scale from 1-5, how likely would you buy ...",How much do you think this product sells for? ...,Do you know who this person is?,What is your gender?,What is your age?,"On average, how much in average do you spend p..."
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID90_8""}","{""ImportId"":""QID91_TEXT""}","{""ImportId"":""QID92""}","{""ImportId"":""QID94_8""}","{""ImportId"":""QID95_8""}","{""ImportId"":""QID96_TEXT""}","{""ImportId"":""QID97""}","{""ImportId"":""QID31""}","{""ImportId"":""QID32_TEXT""}","{""ImportId"":""QID78""}"
2,2024-04-19 16:30:38,2024-04-19 16:30:38,Survey Test,NaN,100,0,True,2024-04-19 16:30:38,R_8oKdBdZbY0aT6N8,NaN,...,1,207459879,Yes,4,3,962074332,Yes,Other,67,Less than $50
3,2024-04-19 16:30:38,2024-04-19 16:30:38,Survey Test,NaN,100,0,True,2024-04-19 16:30:38,R_9KR0aTQKK0JO4iW,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,58,Less than $50
4,2024-04-19 16:30:38,2024-04-19 16:30:38,Survey Test,NaN,100,0,True,2024-04-19 16:30:38,R_dcWgjDvRkgh6Phs,NaN,...,2,813579243,No,2,2,2111865168,Yes,Female,43,More than $500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2024-04-22 17:20:53,2024-04-22 17:20:56,IP Address,104.28.39.32,9,2,False,2024-04-29 17:20:59,R_51Yus8e31ghbaOV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2024-04-22 17:39:51,2024-04-22 17:39:57,IP Address,128.197.29.248,10,5,False,2024-04-29 17:40:01,R_7rdIJUQebFIJCF3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2024-04-23 10:51:30,2024-04-23 10:53:05,IP Address,147.9.2.79,69,95,False,2024-04-30 10:53:07,R_80qmbpk31wnCoBb,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2024-04-23 11:00:40,2024-04-23 11:00:44,IP Address,128.197.29.238,10,3,False,2024-04-30 11:00:49,R_2aXK3NMdCcZgj17,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2024-04-23 11:02:24,2024-04-23 11:02:27,IP Address,147.9.2.76,9,2,False,2024-04-30 11:02:31,R_7zoPXEk1EqLMgYX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Removing initial rows (Survey test)
df = df.dropna(subset=['IPAddress'])
df = df.drop(df.index[:2])
df = df[df['Finished'] != 'False']

# Dropping unneccessary columns
df = df.drop('StartDate', axis=1)
df = df.drop('EndDate', axis=1)
df = df.drop('Status', axis=1)
df = df.drop('Progress', axis=1)
df = df.drop('Finished', axis=1)
df = df.drop('RecordedDate', axis=1)
df = df.drop('RecipientLastName', axis=1)
df = df.drop('RecipientFirstName', axis=1)
df = df.drop('RecipientEmail', axis=1)
df = df.drop('ExternalReference', axis=1)
df = df.drop('DistributionChannel', axis=1)
df = df.drop('UserLanguage', axis=1)
df = df.drop('LocationLatitude', axis=1)
df = df.drop('LocationLongitude', axis=1)
df = df.drop('IPAddress', axis=1)
df = df.drop('Duration (in seconds)', axis=1)

#Initializing Treatment column
df['Treatment'] = np.NaN
df

,ResponseId,C1.1_1,C1.2_8,C1.3,T1.1_8,T1.2_8,T1.3,T1.4,C2.1_8,C2.2_8,...,T5.3,T5.4,T6.1_8,T6.2_8,T6.3,T6.4,D1,D2,D3,Treatment
8,R_3Jl0eEVncGY4UBH,4,4,200,NaN,NaN,NaN,NaN,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,22,Less than $50,NaN
9,R_3j70VcEPEWtJRIM,3,4,45,NaN,NaN,NaN,NaN,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,14,$50~$200,NaN
10,R_2KvvQoZhk7RJWFz,NaN,NaN,NaN,2,1,240,Yes,NaN,NaN,...,600,No,1,2,70,Yes,Male,22,$50~$200,NaN
11,R_8r3vKoa7oDsaVG3,4,3,150,NaN,NaN,NaN,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,22,$50~$200,NaN
12,R_3TnjMzfr7oc0IZV,NaN,NaN,NaN,1,1,200,Yes,NaN,NaN,...,600,No,5,4,25,Yes,Other,21,Less than $50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,R_1dYFWlmfJn49PIl,1,2,45,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,21,Less than $50,NaN
116,R_5nhtdg347AhoPtv,NaN,NaN,NaN,4,4,80,Yes,NaN,NaN,...,1000,Yes,1,3,100,Yes,Male,21,Less than $50,NaN
117,R_4dyTbsuBsshgvRI,NaN,NaN,NaN,2,3,55,Yes,NaN,NaN,...,100,Yes,3,2,45,Yes,Female,25,$201~$500,NaN
118,R_5SlN1nFJMkDoe6B,4,4,40,NaN,NaN,NaN,NaN,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,22,$50~$200,NaN
119,R_1rLYPbFxx98Omrf,NaN,NaN,NaN,2,1,80,Yes,NaN,NaN,...,1500,Yes,1,2,45,Yes,Male,18,Less than $50,NaN

In [ ]:
# Making treatment = 1 if all treatment questions are not null

treatment_columns = ['T1.1_8', 'T1.2_8', 'T1.3', 'T1.4', 'T2.1_8', 'T2.2_8', 'T2.3', 'T2.4', 'T3.1_8',
                    'T3.2_8', 'T3.3', 'T3.4', 'T4.1_8', 'T4.2_8', 'T4.3', 'T4.4', 'T5.1_8', 'T5.2_8',
                    'T5.3', 'T5.4', 'T6.1_8', 'T6.2_8', 'T6.3', 'T6.4']

# Check if all specified columns are not null for each row
treatment_not_null = df[treatment_columns].notnull().all(axis=1)

# Amend the 'Treatment' column to 1 where all specified columns are not null
df.loc[treatment_not_null, 'Treatment'] = 1

# Making control = 0 if all control questions are not null

control_columns = ['C1.1_1', 'C1.2_8', 'C1.3', 'C2.1_8', 'C2.2_8', 'C2.3', 'C3.1_8', 'C3.2_8',
                   'C3.3', 'C4.1_8', 'C4.2_8', 'C4.3', 'C5.1_8', 'C5.2_8', 'C5.3', 'C6.1_8',
                   'C6.2_8', 'C6.3']

# Check if all specified columns are not null for each row
control_not_null = df[control_columns].notnull().all(axis=1)

# Amend the 'Treatment' column to 0 where all specified columns are not null
df.loc[control_not_null, 'Treatment'] = 0

df = df.dropna(subset=['Treatment'])
df['Treatment'] = df['Treatment'].astype(int)

In [ ]:
# Product 1: Drake Hoodie

# Intent to purchase for youself
df['Hoodie_Purchase_Intent_Self'] = np.NaN
df.loc[df['T1.1_8'].notnull(), 'Hoodie_Purchase_Intent_Self'] = df['T1.1_8']
df.loc[df['C1.1_1'].notnull(), 'Hoodie_Purchase_Intent_Self'] = df['C1.1_1']
df = df.drop('T1.1_8', axis=1)
df = df.drop('C1.1_1', axis=1)


# Intent to purchase for someone you know
df['Hoodie_Purchase_Intent_Friend'] = np.NaN
df.loc[df['T1.2_8'].notnull(), 'Hoodie_Purchase_Intent_Friend'] = df['T1.2_8']
df.loc[df['C1.2_8'].notnull(), 'Hoodie_Purchase_Intent_Friend'] = df['C1.2_8']
df = df.drop('T1.2_8', axis=1)
df = df.drop('C1.2_8', axis=1)

# Price
df['Hoodie_Guessed_Price'] = np.NaN
df.loc[df['T1.3'].notnull(), 'Hoodie_Guessed_Price'] = df['T1.3']
df.loc[df['C1.3'].notnull(), 'Hoodie_Guessed_Price'] = df['C1.3']
df = df.drop('T1.3', axis=1)
df = df.drop('C1.3', axis=1)

# Do you know Drake?
df['Hoodie_Celeb'] = np.NaN
df.loc[df['T1.4'].notnull(), 'Hoodie_Celeb'] = df['T1.4']
df = df.drop('T1.4', axis=1)
df['Hoodie_Celeb'] = df['Hoodie_Celeb'].map({'Yes': 1, 'No': 0})

In [ ]:
# Product 2: Kendall Shoulder Bag

# Intent to purchase for youself
df['Bag_Purchase_Intent_Self'] = np.NaN
df.loc[df['T2.1_8'].notnull(), 'Bag_Purchase_Intent_Self'] = df['T2.1_8']
df.loc[df['C2.1_8'].notnull(), 'Bag_Purchase_Intent_Self'] = df['C2.1_8']
df = df.drop('T2.1_8', axis=1)
df = df.drop('C2.1_8', axis=1)


# Intent to purchase for someone you know
df['Bag_Purchase_Intent_Friend'] = np.NaN
df.loc[df['T2.2_8'].notnull(), 'Bag_Purchase_Intent_Friend'] = df['T2.2_8']
df.loc[df['C2.2_8'].notnull(), 'Bag_Purchase_Intent_Friend'] = df['C2.2_8']
df = df.drop('T2.2_8', axis=1)
df = df.drop('C2.2_8', axis=1)

# Price
df['Bag_Guessed_Price'] = np.NaN
df.loc[df['T2.3'].notnull(), 'Bag_Guessed_Price'] = df['T2.3']
df.loc[df['C2.3'].notnull(), 'Bag_Guessed_Price'] = df['C2.3']
df = df.drop('T2.3', axis=1)
df = df.drop('C2.3', axis=1)

# Do you know Kendall?
df['Bag_Celeb'] = np.NaN
df.loc[df['T2.4'].notnull(), 'Bag_Celeb'] = df['T2.4']
df = df.drop('T2.4', axis=1)
df['Bag_Celeb'] = df['Bag_Celeb'].map({'Yes': 1, 'No': 0})

In [ ]:
# Product 3: Taylor Loafer

# Intent to purchase for youself
df['Loafer_Purchase_Intent_Self'] = np.NaN
df.loc[df['T3.1_8'].notnull(), 'Loafer_Purchase_Intent_Self'] = df['T3.1_8']
df.loc[df['C3.1_8'].notnull(), 'Loafer_Purchase_Intent_Self'] = df['C3.1_8']
df = df.drop('T3.1_8', axis=1)
df = df.drop('C3.1_8', axis=1)


# Intent to purchase for someone you know
df['Loafer_Purchase_Intent_Friend'] = np.NaN
df.loc[df['T3.2_8'].notnull(), 'Loafer_Purchase_Intent_Friend'] = df['T3.2_8']
df.loc[df['C3.2_8'].notnull(), 'Loafer_Purchase_Intent_Friend'] = df['C3.2_8']
df = df.drop('T3.2_8', axis=1)
df = df.drop('C3.2_8', axis=1)

# Price
df['Loafer_Guessed_Price'] = np.NaN
df.loc[df['T3.3'].notnull(), 'Loafer_Guessed_Price'] = df['T3.3']
df.loc[df['C3.3'].notnull(), 'Loafer_Guessed_Price'] = df['C3.3']
df = df.drop('T3.3', axis=1)
df = df.drop('C3.3', axis=1)

# Do you know Taylor Swift?
df['Loafer_Celeb'] = np.NaN
df.loc[df['T3.4'].notnull(), 'Loafer_Celeb'] = df['T3.4']
df = df.drop('T3.4', axis=1)
df['Loafer_Celeb'] = df['Loafer_Celeb'].map({'Yes': 1, 'No': 0})

In [ ]:
# Product 4: RDJ Glasses

# Intent to purchase for youself
df['Glasses_Purchase_Intent_Self'] = np.NaN
df.loc[df['T4.1_8'].notnull(), 'Glasses_Purchase_Intent_Self'] = df['T4.1_8']
df.loc[df['C4.1_8'].notnull(), 'Glasses_Purchase_Intent_Self'] = df['C4.1_8']
df = df.drop('T4.1_8', axis=1)
df = df.drop('C4.1_8', axis=1)


# Intent to purchase for someone you know
df['Glasses_Purchase_Intent_Friend'] = np.NaN
df.loc[df['T4.2_8'].notnull(), 'Glasses_Purchase_Intent_Friend'] = df['T4.2_8']
df.loc[df['C4.2_8'].notnull(), 'Glasses_Purchase_Intent_Friend'] = df['C4.2_8']
df = df.drop('T4.2_8', axis=1)
df = df.drop('C4.2_8', axis=1)

# Price
df['Glasses_Guessed_Price'] = np.NaN
df.loc[df['T4.3'].notnull(), 'Glasses_Guessed_Price'] = df['T4.3']
df.loc[df['C4.3'].notnull(), 'Glasses_Guessed_Price'] = df['C4.3']
df = df.drop('T4.3', axis=1)
df = df.drop('C4.3', axis=1)

# Do you know Iron Man?
df['Glasses_Celeb'] = np.NaN
df.loc[df['T4.4'].notnull(), 'Glasses_Celeb'] = df['T4.4']
df = df.drop('T4.4', axis=1)
df['Glasses_Celeb'] = df['Glasses_Celeb'].map({'Yes': 1, 'No': 0})

In [ ]:
# Product 5: Travis Jacket

# Intent to purchase for youself
df['Jacket_Purchase_Intent_Self'] = np.NaN
df.loc[df['T5.1_8'].notnull(), 'Jacket_Purchase_Intent_Self'] = df['T5.1_8']
df.loc[df['C5.1_8'].notnull(), 'Jacket_Purchase_Intent_Self'] = df['C5.1_8']
df = df.drop('T5.1_8', axis=1)
df = df.drop('C5.1_8', axis=1)


# Intent to purchase for someone you know
df['Jacket_Purchase_Intent_Friend'] = np.NaN
df.loc[df['T5.2_8'].notnull(), 'Jacket_Purchase_Intent_Friend'] = df['T5.2_8']
df.loc[df['C5.2_8'].notnull(), 'Jacket_Purchase_Intent_Friend'] = df['C5.2_8']
df = df.drop('T5.2_8', axis=1)
df = df.drop('C5.2_8', axis=1)

# Price
df['Jacket_Guessed_Price'] = np.NaN
df.loc[df['T5.3'].notnull(), 'Jacket_Guessed_Price'] = df['T5.3']
df.loc[df['C5.3'].notnull(), 'Jacket_Guessed_Price'] = df['C5.3']
df = df.drop('T5.3', axis=1)
df = df.drop('C5.3', axis=1)

# Do you know Travis?
df['Jacket_Celeb'] = np.NaN
df.loc[df['T5.4'].notnull(), 'Jacket_Celeb'] = df['T5.4']
df = df.drop('T5.4', axis=1)
df['Jacket_Celeb'] = df['Jacket_Celeb'].map({'Yes': 1, 'No': 0})

In [ ]:
# Product 6: Selena Mascara

# Intent to purchase for youself
df['Mascara_Purchase_Intent_Self'] = np.NaN
df.loc[df['T6.1_8'].notnull(), 'Mascara_Purchase_Intent_Self'] = df['T6.1_8']
df.loc[df['C6.1_8'].notnull(), 'Mascara_Purchase_Intent_Self'] = df['C6.1_8']
df = df.drop('T6.1_8', axis=1)
df = df.drop('C6.1_8', axis=1)


# Intent to purchase for someone you know
df['Mascara_Purchase_Intent_Friend'] = np.NaN
df.loc[df['T6.2_8'].notnull(), 'Mascara_Purchase_Intent_Friend'] = df['T6.2_8']
df.loc[df['C6.2_8'].notnull(), 'Mascara_Purchase_Intent_Friend'] = df['C6.2_8']
df = df.drop('T6.2_8', axis=1)
df = df.drop('C6.2_8', axis=1)

# Price
df['Mascara_Guessed_Price'] = np.NaN
df.loc[df['T6.3'].notnull(), 'Mascara_Guessed_Price'] = df['T6.3']
df.loc[df['C6.3'].notnull(), 'Mascara_Guessed_Price'] = df['C6.3']
df = df.drop('T6.3', axis=1)
df = df.drop('C6.3', axis=1)

# Do you know Selena?
df['Mascara_Celeb'] = np.NaN
df.loc[df['T6.4'].notnull(), 'Mascara_Celeb'] = df['T6.4']
df = df.drop('T6.4', axis=1)
df['Mascara_Celeb'] = df['Mascara_Celeb'].map({'Yes': 1, 'No': 0})

In [ ]:
# Demographics
df = df.rename(columns={'D1': 'Sex'})
df = df.rename(columns={'D2': 'Age'})
df = df.rename(columns={'D3': 'Respondent_Budget'})
df['Age'] = df['Age'].astype(int)

# Dummy variables for Sex
# If user chose not to specify sex then Male and Female are 0
# dummy_df = pd.get_dummies(df['Sex']).astype(int)
# df = pd.concat([df, dummy_df], axis=1)
# df = df.drop('Sex', axis=1)
# df = df.drop('Other', axis=1)

# Reordering columns for better organization
column_order = ['ResponseId', 'Treatment', 'Age', 'Sex', 'Respondent_Budget',
             'Hoodie_Purchase_Intent_Self', 'Hoodie_Purchase_Intent_Friend',
             'Hoodie_Guessed_Price', 'Hoodie_Celeb', 'Bag_Purchase_Intent_Self',
             'Bag_Purchase_Intent_Friend', 'Bag_Guessed_Price', 'Bag_Celeb',
             'Loafer_Purchase_Intent_Self', 'Loafer_Purchase_Intent_Friend',
             'Loafer_Guessed_Price', 'Loafer_Celeb', 'Glasses_Purchase_Intent_Self',
             'Glasses_Purchase_Intent_Friend', 'Glasses_Guessed_Price',
             'Glasses_Celeb', 'Jacket_Purchase_Intent_Self',
             'Jacket_Purchase_Intent_Friend', 'Jacket_Guessed_Price', 'Jacket_Celeb',
             'Mascara_Purchase_Intent_Self', 'Mascara_Purchase_Intent_Friend',
             'Mascara_Guessed_Price']

df = df[column_order]

In [ ]:
df

In [ ]:
df.to_csv('BA472_Survey_Results_Cleaned.csv', index=False)